{% extends "base.html" %}
{% block content %}
<h1>Add New Player</h1>
<form method="POST">
    <label>Player Name:</label><br>
    <input type="text" name="Player_Name" required><br>

    <label>Date of Birth:</label><br>
    <input type="date" name="Date_of_Birth" required><br>

    <label>Nationality:</label><br>
    <input type="text" name="Nationality" required><br>

    <label>Club:</label><br>
    <input type="text" name="Club" required><br>

    <label>Position:</label><br>
    <input type="text" name="Position" required><br><br>

    <button type="submit">Add Player</button>
</form>
{% endblock %}

