<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer App</title>
</head>
<body>
    <h1>Welcome to the Soccer App</h1>
    <p>Click a button below to view more info</p>
    
    <!-- Button to go to the soccer route -->
    <a href="/player">
        <button>Players</button>
    </a>

    <!-- Button to go to the team route -->
    <a href="/team">
        <button>Teams</button>
    </a>
    <!-- Button to go to the league route -->
    <a href="/league">
        <button>Leagues</button>
    </a>

    <a href="/country">
        <button>Country</button>
    </a>
</body>
</html>

